<div class="bmi-calculator">
  <h1>BMI Calculator</h1>
  <div class="form-group">
    <label for="height">Height (cm):</label>
    <input
      type="number"
      id="height"
      [(ngModel)]="height"
      name="height"
      placeholder="Enter your height"
    />
  </div>
  <div class="form-group">
    <label for="weight">Weight (kg):</label>
    <input
      type="number"
      id="weight"
      [(ngModel)]="weight"
      name="weight"
      placeholder="Enter your weight"
    />
  </div>
  <button (click)="calculateBMI()">Calculate BMI</button>

  <div  class="result">
    <h2>Your BMI: {{ bmi }}</h2>
    <h3>Category: {{ category }}</h3>
    
    <p>
      Categories: Underweight (<18.5), Normal weight (18.5-24.9), Overweight
      (25-29.9), Obesity (30+)
    </p>
  </div>
</div>