<div class="landing-page">
    <div class="content">
      <h1>Welcome to the BMI Calculator</h1>
      <p>Your Body Mass Index (BMI) is an important indicator of your overall health. It helps you understand whether your weight is in a healthy range for your height.</p>
      <p>Checking your BMI regularly can help you assess your risk for health conditions such as heart disease, diabetes, and other weight-related health issues.</p>
      <button (click)="navigateToRegister()" class="get-started-btn">Get Started</button>
    </div>
  </div>
  